@page
@model TeamUP.Pages.Party.StudentsPage

@{
    Layout = "_Index";
}

<body>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Items[0].FullName) </th>
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-order="@Model.SortOrder(nameof(Model.Item.FirstName))"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >@nameof(Model.Item.FirstName)</a>
            </th>
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-order="@Model.SortOrder(nameof(Model.Item.LastName))"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >@nameof(Model.Item.LastName)</a>
            </th>  
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-order="@Model.SortOrder(nameof(Model.Item.Age))"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >@nameof(Model.Item.Age)</a>
            </th>  
             <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-order="@Model.SortOrder(nameof(Model.Item.Gender))"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >@nameof(Model.Item.Gender)</a>
            </th>
             <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-order="@Model.SortOrder(nameof(Model.Item.YearInUniversity))"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >@nameof(Model.Item.YearInUniversity)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.FullName) </td>
            <td> @Html.DisplayFor(modelItem => item.FirstName) </td>
            <td> @Html.DisplayFor(modelItem => item.LastName) </td>
            <td> @Html.DisplayFor(modelItem => item.Age) </td>
            <td> @Html.DisplayFor(modelItem => item.Gender) </td>
            <td> @Html.DisplayFor(modelItem => item.YearInUniversity) </td>
            <td>
                <a asp-page="./Edit" 
                   asp-page-handler = "Edit" 
                   asp-route-id="@item.Id"
                   asp-route-order="@Model.CurrentSort"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >Edit</a> |
                <a asp-page="./Details"
                   asp-page-handler = "Details" 
                   asp-route-id="@item.Id"
                   asp-route-order="@Model.CurrentSort"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >Details</a> |
                <a asp-page="./Delete" 
                   asp-page-handler = "Delete"
                   asp-route-id="@item.Id"
                   asp-route-order="@Model.CurrentSort"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>