@page
@model TeamUP.Pages.Party.TeamWorksPage
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using TeamUP.Pages
@using TeamUP.Pages.Extensions
@{
    Layout = "_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Items[0].Overview) </th>   
            <th> @Html.MyTabHdr(nameof(Model.Item.Name)) </th> 
            <th> @Html.DisplayNameFor(model => model.Items[0].Description) </th> 
            <th> @Html.MyTabHdr(nameof(Model.Item.TeamSize)) </th> 
            <th> @Html.MyTabHdr(nameof(Model.Item.Deadline)) </th> 
            <th> @Html.MyTabHdr(nameof(Model.Item.Done)) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Overview) </td>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Description) </td>
            <td> @Html.DisplayFor(modelItem => item.TeamSize) </td>
            <td> @Html.DisplayFor(modelItem => item.Deadline) </td>
            <td> @Html.DisplayFor(modelItem => item.Done) </td>
            <td>
                <a asp-page="./Edit" 
                   asp-page-handler = "Edit" 
                   asp-route-id="@item.Id"
                   asp-route-order="@Model.CurrentOrder"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >Edit</a> |
                <a asp-page="./Details"
                   asp-page-handler = "Details" 
                   asp-route-id="@item.Id"
                   asp-route-order="@Model.CurrentOrder"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >Details</a> |
                <a asp-page="./Delete" 
                   asp-page-handler = "Delete"
                   asp-route-id="@item.Id"
                   asp-route-order="@Model.CurrentOrder"
                   asp-route-idx = "@Model.PageIndex"
                   asp-route-filter="@Model.CurrentFilter"
                >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>