@page
@model TeamUP.Pages.Party.TeamWorksPage
@{
    Layout = "_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Items[0].Overview) </th>
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Name))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Name)</a>
            </th>
            <th> @Html.DisplayNameFor(model => model.Items[0].Description) </th>
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.TeamSize))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.TeamSize)</a>
            </th>  
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Deadline))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Deadline)</a>
            </th>  
             <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.Done))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.Done)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Overview) </td>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Description) </td>
            <td> @Html.DisplayFor(modelItem => item.TeamSize) </td>
            <td> @Html.DisplayFor(modelItem => item.Deadline) </td>
            <td> @Html.DisplayFor(modelItem => item.Done) </td>
            <td>
                <a asp-page="./Edit" 
                   asp-page-handler = "Edit" 
                   asp-route-id="@item.Id"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Edit</a> |
                <a asp-page="./Details"
                   asp-page-handler = "Details" 
                   asp-route-id="@item.Id"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Details</a> |
                <a asp-page="./Delete" 
                   asp-page-handler = "Delete"
                   asp-route-id="@item.Id"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>