@{
    ViewData["Title"] = "Index";
    var firstDisabled = (Model.PageIndex != 0)? "": "disabled";
    var prevDisabled = (Model.HasPreviousPage)? "": "disabled";
    var nextDisabled = (Model.HasNextPage)? "": "disabled";
    var lastDisabled = (Model.PageIndex != Model.TotalPages - 1)? "": "disabled";
    var showMessage = $"Page {Model.PageIndex + 1} of Total {Model.TotalPages}";
    Layout = "_Layout";

}

<h1>@ViewData["Title"]</h1>

<p> <a asp-page="Create" asp-page-handler = "Create">Create New</a> </p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:&nbsp; 
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />&nbsp;
            <input type="submit" value="Search" class="btn btn-primary disabled"/>&nbsp;
            <a asp-page="Index" asp-page-handler="Index">Back to full List</a>
        </p>
    </div>
</form>

    @RenderBody()

<div>
    <a asp-page="Index" asp-page-handler="Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="0"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @firstDisabled">
   First
</a>&nbsp;
<a asp-page="Index" asp-page-handler="Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
   Previous
</a>&nbsp; 

   @showMessage &nbsp

<a asp-page="Index" asp-page-handler="Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
   Next
</a>&nbsp; 
<a asp-page="Index" asp-page-handler="Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TotalPages-1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @lastDisabled">
   Last
</a>&nbsp; 
</div>



