@page
@model TeamUP.Pages.UniversitiesPage
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" asp-page-handler = "Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].UniversityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].UniversityLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].StudentsAmount)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentsAmount)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-page-handler = "Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-page-handler = "Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-page-handler = "Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



