@page
@model TeamUP.Pages.Party.UniversitiesPage
@{
    Layout = "_Index";
}
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.UniversityLocation))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.UniversityLocation)</a>
            </th>
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.UniversityName))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.UniversityName)</a>
            </th>  
            <th>
                <a asp-page = "./Index"
                   asp-page-handler = "Index"
                   asp-route-sortOrder="@Model.SortOrder(nameof(Model.Item.StudentsAmount))"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >@nameof(Model.Item.StudentsAmount)</a>
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.UniversityName) </td>
            <td> @Html.DisplayFor(modelItem => item.UniversityLocation) </td>
            <td> @Html.DisplayFor(modelItem => item.StudentsAmount) </td>
            
            <td>
                <a asp-page="./Edit" 
                   asp-page-handler = "Edit" 
                   asp-route-id="@item.Id"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Edit</a> |
                <a asp-page="./Details"
                   asp-page-handler = "Details" 
                   asp-route-id="@item.Id"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Details</a> |
                <a asp-page="./Delete" 
                   asp-page-handler = "Delete"
                   asp-route-id="@item.Id"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex = "@Model.PageIndex"
                   asp-route-currentFilter="@Model.CurrentFilter"
                >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>


